@import '../../styles/variables';

.home-page{

    &__container{
        @include flex-column;
        @include font-size(18px);
        height: 92vh;
        width: 100%;
        justify-content: center;
        background: URL('../../Images/laptopanddesktop.webp');
        @include background-cover;
        background-color: $col-dark-2;
        text-align: center;

        @include respond(mobile-screen){
            background-position: center
        }
    }

    &__heading{
        @include font(60px,300);
        @include bounceDownAnimation;
        color: $col-white;
        opacity: 0.9;
        font-family: 'Times New Roman', Times, serif;
        animation: bounceDown 1s ease 0s 1 normal forwards;
        margin-bottom: 30px;

        @include respond(mobile-screen){
            @include font-size(42px);
            @include flex;
            max-width: 80%;
            height: 105px;
            margin-bottom: 20px;
            margin-top: 0px;
        }

        @include respond(tablet-screen){
            @include font-size(53px);
        }

        & span{
            @include font(65px,800);

            &[data-toggle='true']{
                background: linear-gradient(to right, #FFA673 11%, #FFD596 96%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            @include respond(mobile-screen){
                @include font-size(45px);
            }

            @include respond(tablet-screen){
                @include font-size(52px);
            }
            
        }
    }

    &__description{
        @include fadeInAnimation;
        @include font-size(20px);
        max-width: 640px;
        color: $col-white;
        opacity: 0.7;
        margin-top: 0px;
        line-height: 30px;
        animation: fadeIn 2s ease 0s 1 normal forwards;

        @include respond(mobile-screen){
            @include font-size(20px);
            line-height: 40px;
            width: 89%;
        }

        @include respond(tablet-screen){
            @include font-size(25px);
        }
    }

    &__button{
        @include button;

        &:hover{
            background-color: $col-accent-2;
        }
    }

    &__link{
        @include transition;
        color:$col-white;
        opacity: 0.9;
        margin-left: 25px;

        &:hover{
            color: $col-white;
            text-decoration: underline;
        }

        @include respond(mobile-screen){
            @include font-size(16px);
        }
    }
    
}